{% extends "navbar.html" %}
{% load static %}
{% block title %}
chai page
{% endblock %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>

<h1 style="color:black; size:lg">WELCOME!You may place your order...</h1>

<div class="grid grid-cols-3 gap-4 m-4 container ">

{% for chai in chais %}
<div class="bg-blue-800 p-8 column-gap-4" >
    <img class=" rounded h-60 w-45 shadow-lg" src="{{chai.image.url}}" alt="">
    <h3 class="font-bold text-2xl text-yellow-500 text-center" >{{chai.name}}</h3> 
    <a href="#">
        <div class=" mt-10 "> 
            <!-- if those MT,GT should be in middle than flex justify-content should be given -->
       
        <div class="relative inline-block ">
        <button class="group inline-flex text-center px-2 py-2 border border-white text-sm font-medium
        rounded-lg text-white bg-amber-500 hover:bg-pink-500 focus:outline-none focus:ring-2 focus:ring-offset-2
        focus:ring-orange-500">
            {{chai.type}}
       
    </a>
    <!-- <div class=" absolute z-30 hidden group-hover:block bg-pink-500 text-black text-bold text-xs px-3 py-2 bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-48 text-center"> -->
        <span class="  group absolute z-30 hidden group-hover:block bg-pink-500 text-black text-bold
                      text-xs px-4 py-2 ml-2 text-center w-72 max-h-20 overflow-y-auto top-1/2 left-full transform -translate-y-1/2 mb-2">

        {{chai.description}}
        </span>
    </button>
    </div>
    </div>
</div>

{% endfor %}
</div>

<a href="{% url 'chai:order' %}" class='buy'>BUY</a>



<script src="https://cdn.tailwindcss.com"></script> 

{% endblock %}
 



