{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Tea-Site
     {% endblock %}
    </title>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Italianno&family=Satisfy&family=Yeseva+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

     <!-- <script src="https://cdn.tailwindcss.com"></script>  -->

</head>
<body>
     <h1 style="color:rgb(255, 208, 0); font-size:50px; font-style:inherit ;font-family: 'Mountains of Christmas', cursive;
 font-weight: 500; font-style: normal; font-optical-sizing: auto;
     margin-top:30px; margin: left 40vw;">Chiya Maya</h1>


     <!-- <nav class="navbar navbar-expand-md bg-body-tertiary "> -->
      <!-- <nav class="navbar-custom d-flex flex-row gap-4"> -->
        <div class="navbar-custom flex-row gap-2 d-flex  w-100">
<ul class="navbar-nav d-flex flex-row gap-2  m-0 p-0 justify-content:end list-unstyled">

    <li class="nav-item " style="display: inline-flex;gap:2px;flex-direction: row; font-size: large;margin:0;
          margin-right: 0%;background:none;border:none; color: black;"> 
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
    </li>

    <li class="nav-item" style=" display: inline-flex; gap:2px;flex-direction: row;  color: black; font-size: large; margin:0;
         background:none; border:none; margin-right:0%; ">
          <a class="nav-link active" href="{% url 'about' %}">About Us</a>
    </li>
        
    <li class="nav-item"   style="display: inline-flex;gap:2px; flex-direction: row;color: black;font-size: large; margin:0;
        margin-right:0%;background:none;border:none;">
          <a class="nav-link" href="{% url 'loginpage' %}">login</a>
    </li>
  </ul> 
</div>
{% block content %}
<div class="front" style="width:100;height:540px;">
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>

 {% endblock %}


</body>
</html>




<!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        <!-- </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      <!-- </ul> -->
      <!-- <form class="d-flex" role="search"> -->
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button> -->

         <!-- <button onclick="history.back()">goback</button>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'homepage' %}">Back to Homepage</a>
</li> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script> -->



   <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->

            <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">homepage</a>
        </li> -->