{% extends 'navbar.html' %}
{% load static %}
 
 {% block title %}
 about us
{% endblock %}

{% block extra_head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Foundation:wght@400..700&display=swap" rel="stylesheet">



   <style>
        .mountain-font {
      font-family: 'Edu NSW ACT Foundation', cursive;

      color: rgb(255, 208, 0);
    }
     .mountain-font * {
      font-family:'Edu NSW ACT Foundation', cursive;

    }
  </style>
{% endblock %}
 
{% block content %}
<div class="mountain-font">
<div class="main" style="display: flex; justify-content:space-between">
<div class="left">
<p>We serve the best and healthy tea for you.</p>
<ul>
    <li style="list-style-type:none;"><strong>Objectives:</strong>
        <ul class="hehe">
    <li style="list-style-type:circle;">To create welcoming and comfortable atmosphere</li>
    <li> To offer diverse selection of high-quality teas and refreshments</li>
    <li> To Provide prompt, efficient, friendly, and relaxed service. </li>
    </ul>
</li>
</ul>
 
<p>
  <ul>
    <li><strong>Experience</strong>
        <ul>
            <li>Since our establishment in 2019,we have  always been favourite.We provide best serives with greate
                hospitality and tradition.
            </li>
        </ul>
    </li>
  </ul></p>

  <p><ul>
    <li><strong>Motive</strong>
    <ul>
        <li>To provide a space for people to enjoy various types of tea in a comfortable and 
            inviting atmosphere.Also,to foster your lovely relations with your loved one with the beautifully
        embraced sip of tea.</li>
    </ul>
    </li>
  </ul>

  </p>
</div>

<div class="right">
     <div class="grid grid-cols-3 gap-5 images">
        <img class="rounded h-40 w-25 col-gap-4" src="../media/chai/pic 2.png">
        <img class="rounded h-40 w-25 col-gap-4" src="../media/chai/pic 4.jpg">
         <img class="rounded h-40 w-25 col-gap-4" src="../media/chai/img 6.jpg">

     </div>







    <br><h5>Outlets:</h5>
<p style="margin:0">Mandikhatar,Dhumbharai</p>
<p style="margin:0" >Chunikhel,Kapan</p>  
<p style="margin:0">Nagarkot </p>
 <br>
  <h5>Contact Us:</h5>
        <p style="margin:0"><strong>Phone:</strong>01-7136589|9761619932</p>
        <p style="margin:0"><strong>Email:</strong>chiyamaya@gmail.com</p>


</div>
</div>
</div>
{% endblock %} 

<!-- <div>
<h1 style="color:rgb(17, 243, 17)"> This page surfacely describes about the chai found here </h1>
<li style="color:rgb(22, 22, 22);
font-size:larger;
display:flex;
flex-direction:column;
justify-content:center;
 text-align:center;
 padding:50px">
 
    <ul> 1.Masala Tea</ul>
    <ul>2.Ginger Tea</ul>
    <ul>3.Lemone Tea</ul>
</li>
</div> -->